.option {
    width: calc(100% - 20px); /* Make the option full width with some padding */
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px; /* Add border-radius for a rounded appearance */
    text-align: left;
}
  
.option:hover {
    background-color: #db7373; /* Change the background color on hover */
}

.option.clicked {
    background-color: #4d6650; /* Replace with your desired background color */
  }

.optionCard {
    width: 100%;
}